:root {
    --bg-primary-color: #007BFF;
    --bg-secondary-color: #f3c518;
    --text-primary-color: #f4f4f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-primary-color);
    height: 100vh;
    overflow-x: hidden;
}

.title {
    width: 100vw;
    background: black;
    height: 5rem;
    text-align: center;
    padding: 1.5rem;
}

h1 {
    color: var(--text-primary-color);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}



table {
    border: 1px solid black;
    font-size: small;
    text-align: center;
    border-collapse: collapse;
    background: var(--bg-secondary-color);
}


th, td{
    border: 1px solid black;
    padding: 1rem;
}

.getData{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--bg-secondary-color);
    padding: 0.625rem;
    border-radius: 0.625rem;
    box-shadow: 5px 5px 15px #0a0a0a;
;
}

input {
    height: 1.8rem;
    border-radius: 1rem;
    border: none;
}

input[type="number"]{
    text-align: center;
}

.primary-btn {
    width: 100%;
    padding: 7px;
    border-radius: 0.75rem;
    text-align: center;
    align-items: center;
}

.primary-btn:hover {
    background-color: var(--bg-primary-color);
    color: #ffff;
    cursor: pointer;
}