:root {
    --bg-primary-color: #007BFF;
    --bg-secondary-color: #f3c518;
    --text-primary-color: #f4f4f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-primary-color);
    height: 100vh;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.customer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

a {
    text-decoration: none;
}

.admin-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.admin-dashboard > div {
    width: 60%;
    padding: 0.5rem;
    background-color: var(--bg-secondary-color);
    border-radius: 0.725rem;
    box-shadow: 2px 3px 8px black;
}

.transaction-history {
    align-self: center;
}


.User-Amount {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.User-Amount div {
    font-size: large;
}

label {
    font-size: small;
}

.heading {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transferAmountContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: black;
    width: 100%;
    height: 5rem;
    text-align: center;
    padding: 1.5rem;
}

.logout-btn {
    background-color: aliceblue;
    padding: 7px;
    border: none;
    border-radius: 0.725rem;
    font-size: small;
    align-self: flex-end;
}

.logout-btn:hover {
    background-color: var(--bg-primary-color);
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--text-primary-color);
}

h1 {
    color: var(--text-primary-color);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


table {
    border: 1px solid black;
    font-size: small;
    text-align: center;
    border-collapse: collapse;
    background: var(--bg-secondary-color);
}


th, td {
    border: 1px solid black;
    padding: 1.2rem;
}

.sendTransaction-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--bg-secondary-color);
    padding: 0.625rem;
    border-radius: 0.625rem;
    box-shadow: 5px 5px 15px #0a0a0a;;
}

input {
    height: 1.8rem;
    border-radius: 1rem;
    border: none;
}


.User-Amount input {
    width: 90%;
    border-radius: 1rem;
    border: none;
}

input[type="number"] {
    text-align: center;
}


.primary-btn {
    width: 100%;
    padding: 7px;
    border-radius: 0.75rem;
    text-align: center;
    align-items: center;
}

.primary-btn:hover {
    background-color: var(--bg-secondary-color);
    color: #ffff;
    cursor: pointer;
}

.admin-dashboard input:hover {
    background-color: var(--bg-primary-color);
}

select {
    background-color: white;
    display: inline-block;
    font: inherit;
    line-height: 1rem;
    padding: 0.5em 1.5em 0.5em 1em;
    margin: 0;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
}


input[type="number"]:hover {
    background-color: #ffff;
}