<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="transactionPage.css">
</head>
<body>

<h1 class="Title">Money Ordering Actions</h1>

<div class="grid-container">
    <div class="Transactions"><h2>Transaction History</h2><br>
        <div class="history">
            <div>Type</div>
            <div>From Username</div>
            <div>To Username</div>
            <div>Amount</div>
        </div>
    </div>
    <div class="Deposit"><h4>Deposit Amount</h4>
        <div class="User-Amount">
        <div>
            <label for="user1">To : </label><br>
            <input type="text" id="user1" placeholder="Select User">
        </div>
        <div>
            <label for="amount1">Amount : </label><br>
            <input type="text" id="amount1" placeholder="Enter amount">
        </div>
        </div><br>
        <div>
            <input type="submit" placeholder="Submit">
        </div>
    </div>
    <div class="Withdraw"><h4>Withdraw Amount</h4>
    <div class="User-Amount">
        <div>
            <label for="user2">From : </label><br>
            <input type="text" id="user2" placeholder="Select User">
        </div>
        <div>
            <label for="amount2">Amount : </label><br>
            <input type="text" id="amount2" placeholder="Enter amount">
        </div>
    </div><br>
        <div>
            <input type="submit" placeholder="Submit">
        </div>
    </div>
    <div class="Transfer"><h4>Transfer Amount</h4>
        <div class="User-Amount">
            <div>
                <label for="user3">To : </label><br>
                <input type="text" id="user3" placeholder="Select User">
            </div>
            <div>
                <label for="From-user3">From : </label><br>
                <input type="text" id="From-user3" placeholder="Select User">
            </div>

        </div><br>
        <div>
            <label for="amount3">Amount : </label><br>
            <input type="text" id="amount3" placeholder="Enter amount">
        </div><br>
        <div>
            <input type="submit" placeholder="Submit">
        </div>
    </div>

</div>

</body>
</html>